@font-face {
  font-family: "iconfont"; /* Project id 4940490 */
  src: url('iconfont.woff2?t=1749049193293') format('woff2'),
       url('iconfont.woff?t=1749049193293') format('woff'),
       url('iconfont.ttf?t=1749049193293') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wu:before {
  /* 雾 */
  content: "\e600";
}

.icon-31mai:before {
  /* 霾 */
  content: "\e601";
}

.icon-baoyu:before {
  /* 暴雨 */
  content: "\e6f2";
}

.icon-duoyun:before {
  /* 多云 */
  content: "\e6f3";
}

.icon-qing:before {
  /* 晴 */
  content: "\e6f5";
}

.icon-yin:before {
  /* 阴 */
  content: "\e6f8";
}

.icon-zhenxue:before {
  /* 阵雪 */
  content: "\e6fa";
}

.icon-zhenyu:before {
  /* 阵雨 */
  content: "\e6fb";
}

.icon-leizhenyubingbao:before {
  /* 雷阵雨伴有冰雹 */
  content: "\e686";
}

.icon-dongyu:before {
  /* 冻雨 */
  content: "\e60d";
}

.icon-tedabaoyu:before {
  /* 特大暴雨 */
  content: "\e60b";
}

.icon-xiaodaozhongyu:before {
  /* 小到中雨 */
  content: "\e60c";
}

.icon-xiaodaozhongxue:before {
  /* 小到中雪 */
  content: "\e60e";
}

.icon-zhongdaodayu:before {
  /* 中到大雨 */
  content: "\e60f";
}

.icon-zhongdaodaxue:before {
  /* 中到大雪 */
  content: "\e610";
}

.icon-dabaoyudaotedabaoyu:before {
  /* 大暴雨到特大暴雨 */
  content: "\e612";
}

.icon-dadaobaoxue:before {
  /* 大到暴雪 */
  content: "\e613";
}

.icon-baoyudaodabaoyu:before {
  /* 暴雨到大暴雨 */
  content: "\e614";
}

.icon-dadaobaoyu:before {
  /* 大到暴雨 */
  content: "\e615";
}

.icon-dabaoyu:before {
  /* 大暴雨 */
  content: "\e6e9";
}

.icon-leizhenyu:before {
  /* 雷阵雨 */
  content: "\e6eb";
}

.icon-fuchen:before {
  /* 浮尘 */
  content: "\e6ef";
}

.icon-yangsha:before {
  /* 扬沙 */
  content: "\e6f4";
}

.icon-qiangshachenbao:before {
  /* 强沙尘暴 */
  content: "\e632";
}

.icon-xiaoxue:before {
  /* 小雪 */
  content: "\e636";
}

.icon-zhongxue:before {
  /* 中雪 */
  content: "\e638";
}

.icon-baoxue:before {
  /* 暴雪 */
  content: "\e639";
}

.icon-daxue:before {
  /* 大雪 */
  content: "\e63c";
}

.icon-yujiaxue:before {
  /* 雨夹雪 */
  content: "\e616";
}

.icon-xiaoyu:before {
  /* 小雨 */
  content: "\e618";
}

.icon-dayu:before {
  /* 大雨 */
  content: "\e619";
}

.icon-zhongyu:before {
  /* 中雨 */
  content: "\e61a";
}

.icon-shachenbao:before {
  /* 沙尘暴 */
  content: "\e609";
}

